* {
    box-sizing: border-box;
}
:root {
    --text-color: #fff;
    --font-family: "Roboto", sans-serif;
    --second-family: "Source Sans Pro", sans-serif;
    --background: linear-gradient(180deg, #374151 0%, #111827 100%);
    --screen-width: 1200px;
}

body {
    margin: 0;
    background: var(--background);
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.site-header-wrapper {
    max-width: var(--screen-width);
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    gap: 52px;
    align-items: center;
}

.site-logo {
    font-size: 18px;
}

.site-logo__logo {
    font-family: var(--second-family);
    font-weight: 600;
    background: #4b5563;
    padding: 6px 12px;
    border-radius: 3px;
    margin-right: 11px;
}

.site-menu {
    display: flex;
}

.site-menu__list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
}

.site-header-search {
    margin-left: auto;
}

.site-header-search__form {
    position: relative;
}

.site-header-search__input {
    background: rgba(31, 41, 55, 0.6);
    height: 40px;
    border-radius: 100px;
    border: none;
    color: var(--text-color);
    padding: 10px 10px 10px 49px;
}

.site-header-search__button {
    position: absolute;
    top: 14px;
    left: 18px;
    background: none;
    border: none;
    padding: 0;
}

.post {
    max-width: var(--screen-width);
    margin: 0 auto;
}

.post-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 28px;
}

.post-title-header {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.post-title-header__top {
    display: flex;
    justify-content: center;
    gap: 12px;
    opacity: 0.6;
    font-size: 14px;
}

.post-title-header__tag {
    text-transform: uppercase;
}

.post-title-header__h1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 158%;
    text-align: center;
    margin: 0;
}

.post-title-author {
    display: flex;
    gap: 16px;
}

.post-title-author__description {
    display: flex;
    flex-direction: column;
}

.post-title-author__name {
    line-height: 175%;
}

.post-title-author__profession {
    font-size: 14px;
    line-height: 180%;
    opacity: 0.6;
}

.post-image {
    max-width: 900px;
    margin: 0 auto 69px;
}

.post-p {
    max-width: 700px;
    margin: 0 auto 30px;
}

.site-footer-wrapper {
    max-width: var(--screen-width);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
    opacity: 0.6;
}

.site-footer__link {
    color: white;
}
