:root {
    --text-color: #fff;
    --font-family: "Roboto", sans-serif;
    --second-family: "Source Sans Pro", sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
}

h1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 158%;
    text-align: center;
    margin: 0;
}

nav ul {
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: var(--text-color);
}

header {
    margin-bottom: 69x px;
}

footer {
    padding: 77px 20px;
    opacity: 0.6;
}

footer a {
    color: white;
    text-decoration: none;
}

.headerSearch input {
    background: rgba(31, 41, 55, 0.6);
    height: 40px;
    border-radius: 100px;
    border: none;
}

.headerSearch label span,
.supHeader {
    opacity: 0.6;
}

.supHeader {
    font-size: 14px;
    margin: 14px auto;
}

.supHeader .tag {
    text-transform: uppercase;
}

.author {
    margin: 30px auto;
}

.author .name {
    line-height: 175%;
}

.author .profession {
    font-size: 14px;
    line-height: 180%;
    opacity: 0.6;
}

.postImage {
    margin-bottom: 69px;
}
